<!DOCTYPE html>
<html lang="fr">
    <head>
        <!-- META PROPERTIES -->
        <meta charset="UTF-8" />
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- TITLE -->
        <title>{% block title %}Feather webapp{% endblock %}</title>

        <!-- ASSETIC -->
        {% stylesheets '@AppFeatherBundle/Resources/public/css/*' %}
            <link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
        {% endstylesheets %}

        <!-- GOOGLE FONTS -->
        <link href='http://fonts.googleapis.com/css?family=Raleway:400,500,600,700,300' rel='stylesheet' type='text/css'>

        <!-- FAVICON -->
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>

        <!-- PRELOADER -->
        {% block preloader %}  
            {% include 'includes/preloader.inc.html.twig' %}
        {% endblock %}
        <!-- ENDPRELOADER -->

        <!-- BODY -->
        {% block body %}

            <div class="container">

                <!-- CONTENT -->
                {% block content %}{% endblock %}
                <!-- ENDCONTENT -->

            </div>

        {% endblock %}
        <!-- ENDBODY -->

        <!-- JAVASCRIPT -->
        {% javascripts 
            '@AppFeatherBundle/Resources/public/js/jquery/jquery-1.9.1.min.js' 
            '@AppFeatherBundle/Resources/public/js/bootstrap/bootstrap.min.js' 
            '@AppFeatherBundle/Resources/public/js/plugins/nicescroll/jquery.nicescroll.min.js'
            '@AppFeatherBundle/Resources/public/js/app/custom.js' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        <!-- ENDJAVASCRIPTS -->

        <script type="text/javascript">
        
            $('#transmission_authentication').change(function(){
                if (this.checked) {
                  $('#transmission_authinfo').fadeIn('slow');
                } else {
                  $('#transmission_authinfo').hide().fadeOut('slow');
                }                   
            });

            $('#transmission_authinfo').hide();
            $('#transmission_authentication').removeAttr('checked');
            
            $('#transmission_lostinfo').change(function(){
                if (this.checked) {
                  $('#transmission_property').fadeOut('slow');
                } else {
                  $('#transmission_property').fadeIn('slow');
                }                   
            });

        </script>

    </body>
</html>