<!--
=====================================
==========  FOOTER BLOCK  ===========
=====================================
-->

<footer class="container-fluid footer"> 
	Copyright &copy; 2014 <a href="https://feather.vigitas.com" target="_blank">Feather </a> <a href="#" class="pull-right scrollToTop"><i class="fa fa-chevron-up"></i></a> 
</footer>

<script type="text/javascript">

function showAuthentication (box) {
    
    var chboxs = document.getElementsByName("transmission_authentication_checked");
    var vis = "none";
    for(var i=0;i<chboxs.length;i++) { 
        if(chboxs[i].checked){
         vis = "block";
            break;
        }
    }
    document.getElementById(box).style.display = vis;

}

</script>